<!DOCTYPE html>
<html lang="en">
<head>

    <title>Email Spam Classifier</title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: yellowgreen;
        }
    </style>
</head>
<body>
    <h1>EMAIL SPAM CLASSIFIER</h1>
    <div>
        <form method="POST"> <textarea rows="12" cols="60" name="email-content" placeholder="Type or paste your email here" value="{{ text }}">{{ text }}</textarea>
            <div>
                <button>
                    Submit
                </button>
                <a href="/">Reset</a> 
                <!-- hyperlink will reroute to home route -->
            </div>
         </form>
    </div>
          <div>
            <p id="display">{{ text }}</p>
      </div>

</body>
</html>